.fade-slow-enter,
.fade-slow-leave-to,
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-slow-enter-to,
.fade-slow-leave,
.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 250ms ease-out;
}

.fade-slow-enter-active,
.fade-slow-leave-active,
  {
  transition: all 400ms ease-in-out;
}
